<p>Hey {{name}},</p>
<p>You've been invited to join Pocket !</p>
<p>Please use the link below to complete your registration</p>
<p>
  <a href='{{url}}'>Complete registration</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>